#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Yandex.Disk
NoDisplay=true
Comment=Yandex.Disk autostart
Exec=yandex-disk start
Terminal=false
